Options +FollowSymLinks -MultiViews -Indexes
RewriteEngine on

#páginas

RewriteRule ^home/?$ home.php
RewriteRule ^products/?$ views/products/index.php 
RewriteRule ^products/create/?$ views/products/create.php 
RewriteRule ^products/details/?$ views/products/details.php
RewriteRule ^products/update/?$ views/products/update.php