Options +FollowSymLinks -MultiViews -Indexes
RewriteEngine on

#páginas

RewriteRule ^home/?$ home.php
RewriteRule ^products/?$ views/products/index.php 
RewriteRule ^products/create/?$ views/products/create.php 
RewriteRule ^products/details/([^/]+)/?$ views/products/details.php?slug=$1 [L]
RewriteRule ^products/update/([^/]+)/?$ views/products/update.php?slug=$1 [L]
RewriteRule ^profile/?$ views/profile/profile.php 
RewriteRule ^users/?$ views/user/users.php
RewriteRule ^users/details/([^/]+)/?$ views/user/details_u.php?id=$1 [L]
RewriteRule ^users/create/?$ views/user/create_u.php
RewriteRule ^users/update/?$ views/user/update_u.php
RewriteRule ^catalogo/categorias/?$ views/catalogo/categorias.php
RewriteRule ^catalogo/etiquetas/?$ views/catalogo/etiquetas.php
RewriteRule ^catalogo/marcas/?$ views/catalogo/marcas.php